.center {
  margin: 0 auto 0;
}

.card {
  margin: 20px;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0px 0px 45px 15px rgba(168,140,54,0.47);
  -moz-box-shadow: 0px 0px 45px 15px rgba(168,140,54,0.47);
  box-shadow: 0px 0px 45px 15px rgba(168,140,54,0.47);
}
