.title {
  margin: 30px auto;
  font-size: 2em;
}
.center {
  margin: 0 auto 0;
}

.score-bar {
  font-size: 0.87em;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.blocker {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
}

.color-image {
  width: 100%;
  height: 100%;
  border: 4px solid white;
}

.card {
  margin: 20px;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0px 0px 45px 15px rgba(168,140,54,0.47);
  -moz-box-shadow: 0px 0px 45px 15px rgba(168,140,54,0.47);
  box-shadow: 0px 0px 45px 15px rgba(168,140,54,0.47);
}

#card0 {
  background-color: red;
}

#card1 {
  background-color: blue;
}

#card2 {
  background-color: yellow;
}

#card3 {
  background-color: green;
}

#card4 {
  background-color: orange;
}

#card5 {
  background-color: grey;
}

#card6 {
  background-color: pink;
}

#card7 {
  background-color: black;
}
