.title {
  margin: 30px auto;
  font-size: 2em;
}
.center {
  margin: 0 auto 0;
}

.score-bar {
  font-size: 0.87em;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.blocker {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
}

.color-image {
  width: 100%;
  height: 100%;
  border: 2px solid white;
}

.card {
  margin: 20px;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0px 0px 45px 15px rgba(168,140,54,0.47);
  -moz-box-shadow: 0px 0px 45px 15px rgba(168,140,54,0.47);
  box-shadow: 0px 0px 45px 15px rgba(168,140,54,0.47);
}

.fa-star, .fa-star-o {
  font-size: 1.7em;
  margin-left: 5%;
}

.fa-repeat {
  font-size: 1.2em;
  margin-right: 5%;
  color: #f7f7f7;
}

#replay {
  padding: 5px 30px;
}

#card0, #card1, #card2, #card3, #card4, #card5, #card6, #card7 {
  background-position: center;
  background-size: cover;
}

#card0 {
  background-image: url("images/bandeira.jpg");
}

#card1 {
  background-image: url("images/concha.jpg");
}

#card2 {
  background-image: url("images/flor-de-lotus.jpg");
}

#card3 {
  background-image: url("images/guarda-sol.jpg");
}

#card4 {
  background-image: url("images/nó.jpg");
}

#card5 {
  background-image: url("images/peixes.jpg");
}

#card6 {
  background-image: url("images/roda.jpg");
}

#card7 {
  background-image: url("images/vaso.jpg");
}
